<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill.name %>
</p>


<%= link_to 'Edit', edit_developer_skill_path(@skill.developer, @skill) %> |
<%= link_to 'Back', developer_skills_path(@skill.developer) %>
